[submodule "sublime-text-3/Packages/Package Control"]
	path = sublime-text-3/Packages/Package Control
	url = git@github.com:wbond/sublime_package_control.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
